<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSourceQM"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/merchant-read" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean id="dataSourceCM"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/merchant" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean id="merchantDAO-QM" class="com.nearbuy.dao.MerchantDaoQMImpl">
		<property name="dataSourceQM" ref="dataSourceQM" />
	</bean>
	<bean id="merchantDAO-CM" class="com.nearbuy.dao.MerchantDaoCMImpl">
		<property name="dataSourceCM" ref="dataSourceCM" />
	</bean>



</beans>